 <h1><center>Projet nº 3 Faim dans le Monde 2013</center></h1>

#### Introduction :
- L’étape préliminaire de cette étude sera donc d’établir un “état de l’art” des recherches déjà publiées, mais également de mener une étude statistique destinée à orienter les recherches vers des pays particuliers, et de mettre en lumière différentes causes de la faim.

##### Data source :
- Les données utilisées pour cette étude ont été télechargées dans le site de la Food and Agriculture Organization of the United Nations (FAO).

#### Data wrangling

###### Les données ont besoin d'être nettoyées dans un format adéquat pour  l'analyse.
###### On va importer les librairies dont on a besoin.

In [1]:
import pandas as pd # pouvoir nettoyer les données
import numpy as np # créer des arrays
pd.set_option('display.max_row', 1000)
pd.set_option('display.max_columns', 1000)

##### On va télécharger avec la librairie pandas les fichiers dont on a besoin.

In [2]:
df_population = pd.read_csv('fr_population.csv')
df_vegetal = pd.read_csv('fr_vegetaux.csv')
df_animal = pd.read_csv('fr_animaux.csv')
df_cereal = pd.read_csv('fr_cereales.csv')
df_sous_alimentation = pd.read_csv('fr_sousalimentation.csv')

In [3]:
df_population.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle

In [4]:
df_population['Symbole'].unique() # on regarde la colonne 'symbole'

array([nan, 'A'], dtype=object)

In [5]:
df_population[df_population['Symbole'] == 'A'] # On cherche la lettre A dans la colonne 'Symbole'

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [6]:
#On prend les colonnes dont on a besoin
population = df_population[['Zone', 'Année', 'Code zone', 'Valeur']] 
population.head()

             Zone  Année  Code zone  Valeur
0     Afghanistan   2013          2   30552
1  Afrique du Sud   2013        202   52776
2         Albanie   2013          3    3173
3         Algérie   2013          4   39208
4       Allemagne   2013         79   82727

In [7]:
#C'est une fonction pour trouver les doublons et les valeurs min et max
def df_col_attr(df):
    print("##### DUPLICATES ######\n")
    print("Number of duplicated rows:", sum(df.duplicated()),"\n")
    
    print("##### MIN / MAX - VALUES ######\n")
    for x in df.columns:
        print(x, f"- min: {df[x].min()}", f"- max: {df[x].max()}")
        
    print("\n##### YEAR SPAN OF COLUMN #####\n")
    
    for x in df.columns:
        df_year = df.dropna(subset = [x])
        print(x, f"- Min: {df_year.Année.min()}", f" - Max: {df_year.Année.max()}")
        
    print("\n##### UNIQUE - VALUES ######\n")
    for x in df.columns:
        print(x, f"- Number of entries: {df[x].count()} - Number of unique values: {df[x].nunique()}")

In [8]:
df_col_attr(population)

##### DUPLICATES ######

Number of duplicated rows: 0

##### MIN / MAX - VALUES ######

Zone - min: Afghanistan - max: Îles Salomon
Année - min: 2013 - max: 2013
Code zone - min: 1 - max: 351
Valeur - min: 54 - max: 1416667

##### YEAR SPAN OF COLUMN #####

Zone - Min: 2013  - Max: 2013
Année - Min: 2013  - Max: 2013
Code zone - Min: 2013  - Max: 2013
Valeur - Min: 2013  - Max: 2013

##### UNIQUE - VALUES ######

Zone - Number of entries: 175 - Number of unique values: 175
Année - Number of entries: 175 - Number of unique values: 1
Code zone - Number of entries: 175 - Number of unique values: 175
Valeur - Number of entries: 175 - Number of unique values: 175

In [9]:
#C'est une fonction pour trouver les valeurs manquantes
def show_n_missing(df, column):
    missing = []
    for x in list((df["Zone"]).unique()):
        n_missing = sum(df[df["Zone"] == x][column].isnull())
        
        if n_missing > 0:
            missing.append(x)
            print(x, "-", n_missing)
        
    return missing

In [10]:
show_n_missing(population, "Valeur");

- On observe une valeur max de 1416667. 
- Il n'y a pas de doublons.
- Il n'y a pas de valeurs manquantes.
- La lettre A dans la colonne 'Symbole' correspond á : Agrégat, peut inclure des données officielles.

In [11]:
df_vegetal.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [12]:
df_col_attr(df_vegetal)

##### DUPLICATES ######

Number of duplicated rows: 0

##### MIN / MAX - VALUES ######

Code Domaine - min: FBSH - max: FBSH
Domaine - min: Bilans Alimentaire (Ancienne méthodologie et population) - max: Bilans Alimentaire (Ancienne méthodologie et population)
Code zone - min: 1 - max: 351
Zone - min: Afghanistan - max: Îles Salomon
Code Élément - min: 645 - max: 5911
Élément - min: Aliments pour animaux - max: Variation de stock
Code Produit - min: 2511 - max: 2899
Produit - min: Agrumes, Autres - max: Épices, Autres
Code année - min: 2013 - max: 2013
Année - min: 2013 - max: 2013
Unité - min: Kcal/personne/jour - max: kg
Valeur - min: -39863.0 - max: 739267.0
Symbole - min: A - max: S
Description du Symbole - min: Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées - max: Données standardisées

##### YEAR SPAN OF COLUMN #####

Code Domaine - Min: 2013  - Max: 2013
Domaine - Min: 2013  - Max: 2013
Code zone - Min: 2013  - Max: 2013
Zone - Min: 2013  - Max: 2013
Code Élément - Min: 2013  - Max: 2013
Élément - Min: 2013  - Max: 2013
Code Produit - Min: 2013  - Max: 2013
Produit - Min: 2013  - Max: 2013
Code année - Min: 2013  - Max: 2013
Année - Min: 2013  - Max: 2013
Unité - Min: 2013  - Max: 2013
Valeur - Min: 2013  - Max: 2013
Symbole - Min: 2013  - Max: 2013
Description du Symbole - Min: 2013  - Max: 2013

##### UNIQUE - VALUES ######

Code Domaine - Number of entries: 104871 - Number of unique values: 1
Domaine - Number of entries: 104871 - Number of unique values: 1
Code zone - Number of entries: 104871 - Number of unique values: 175
Zone - Number of entries: 104871 - Number of unique values: 175
Code Élément - Number of entries: 104871 - Number of unique values: 15
Élément - Number of entries: 104871 - Number of unique values: 15
Code Produit - Number of entries: 104871 - Number of unique values: 75
Produit - Number of entries: 104871 - Number of unique values: 75
Code année - Number of entries: 104871 - Number of unique values: 1
Année - Number of entries: 104871 - Number of unique values: 1
Unité - Number of entries: 104871 - Number of unique values: 4
Valeur - Number of entries: 104871 - Number of unique values: 6249
Symbole - Number of entries: 104871 - Number of unique values: 3
Description du Symbole - Number of entries: 104871 - Number of unique values: 3

In [13]:
show_n_missing(df_vegetal, "Symbole");

#### Analyse pour les produits Végétaux
- Il n'y a pas de doublons.
- il n'y a pas de valeurs manquantes.
- Le symbole S correspond á des valeurs standardisées, FC á des données calculées et A á des agrégats.

In [14]:
df_animal.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.0,S,Données standardisées

In [15]:
df_col_attr(df_animal)

##### DUPLICATES ######

Number of duplicated rows: 0

##### MIN / MAX - VALUES ######

Code Domaine - min: FBSH - max: FBSH
Domaine - min: Bilans Alimentaire (Ancienne méthodologie et population) - max: Bilans Alimentaire (Ancienne méthodologie et population)
Code zone - min: 1 - max: 351
Zone - min: Afghanistan - max: Îles Salomon
Code Élément - min: 645 - max: 5911
Élément - min: Aliments pour animaux - max: Variation de stock
Code Produit - min: 2731 - max: 2848
Produit - min: Abats Comestible - max: Viande, Autre
Code année - min: 2013 - max: 2013
Année - min: 2013 - max: 2013
Unité - min: Kcal/personne/jour - max: kg
Valeur - min: -1368.0 - max: 135600.0
Symbole - min: A - max: S
Description du Symbole - min: Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées - max: Données standardisées

##### YEAR SPAN OF COLUMN #####

Code Domaine - Min: 2013  - Max: 2013
Domaine - Min: 2013  - Max: 2013
Code zone - Min: 2013  - Max: 2013
Zone - Min: 2013  - Max: 2013
Code Élément - Min: 2013  - Max: 2013
Élément - Min: 2013  - Max: 2013
Code Produit - Min: 2013  - Max: 2013
Produit - Min: 2013  - Max: 2013
Code année - Min: 2013  - Max: 2013
Année - Min: 2013  - Max: 2013
Unité - Min: 2013  - Max: 2013
Valeur - Min: 2013  - Max: 2013
Symbole - Min: 2013  - Max: 2013
Description du Symbole - Min: 2013  - Max: 2013

##### UNIQUE - VALUES ######

Code Domaine - Number of entries: 37166 - Number of unique values: 1
Domaine - Number of entries: 37166 - Number of unique values: 1
Code zone - Number of entries: 37166 - Number of unique values: 175
Zone - Number of entries: 37166 - Number of unique values: 175
Code Élément - Number of entries: 37166 - Number of unique values: 15
Élément - Number of entries: 37166 - Number of unique values: 15
Code Produit - Number of entries: 37166 - Number of unique values: 23
Produit - Number of entries: 37166 - Number of unique values: 23
Code année - Number of entries: 37166 - Number of unique values: 1
Année - Number of entries: 37166 - Number of unique values: 1
Unité - Number of entries: 37166 - Number of unique values: 4
Valeur - Number of entries: 37166 - Number of unique values: 3074
Symbole - Number of entries: 37166 - Number of unique values: 3
Description du Symbole - Number of entries: 37166 - Number of unique values: 3

In [16]:
show_n_missing(df_animal, "Valeur");

#### Analyse pour les produits animaux
- Il n'y a pas de doublons.
- il n'y a pas de valeurs manquantes.
- Le symbole S correspond á des valeurs standadisées, FC á des données calculées et A á des agrégats.

In [17]:
df_cereal.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées

In [18]:
df_col_attr(df_cereal)

##### DUPLICATES ######

Number of duplicated rows: 0

##### MIN / MAX - VALUES ######

Code Domaine - min: FBSH - max: FBSH
Domaine - min: Bilans Alimentaire (Ancienne méthodologie et population) - max: Bilans Alimentaire (Ancienne méthodologie et population)
Code zone - min: 1 - max: 276
Zone - min: Afghanistan - max: Îles Salomon
Code Élément - min: 5511 - max: 5511
Élément - min: Production - max: Production
Code Produit - min: 2511 - max: 2805
Produit - min: Avoine - max: Sorgho
Code année - min: 2013 - max: 2013
Année - min: 2013 - max: 2013
Unité - min: Milliers de tonnes - max: Milliers de tonnes
Valeur - min: 0 - max: 353699
Symbole - min: S - max: S
Description du Symbole - min: Données standardisées - max: Données standardisées

##### YEAR SPAN OF COLUMN #####

Code Domaine - Min: 2013  - Max: 2013
Domaine - Min: 2013  - Max: 2013
Code zone - Min: 2013  - Max: 2013
Zone - Min: 2013  - Max: 2013
Code Élément - Min: 2013  - Max: 2013
Élément - Min: 2013  - Max: 2013
Code Produit - Min: 2013  - Max: 2013
Produit - Min: 2013  - Max: 2013
Code année - Min: 2013  - Max: 2013
Année - Min: 2013  - Max: 2013
Unité - Min: 2013  - Max: 2013
Valeur - Min: 2013  - Max: 2013
Symbole - Min: 2013  - Max: 2013
Description du Symbole - Min: 2013  - Max: 2013

##### UNIQUE - VALUES ######

Code Domaine - Number of entries: 891 - Number of unique values: 1
Domaine - Number of entries: 891 - Number of unique values: 1
Code zone - Number of entries: 891 - Number of unique values: 167
Zone - Number of entries: 891 - Number of unique values: 167
Code Élément - Number of entries: 891 - Number of unique values: 1
Élément - Number of entries: 891 - Number of unique values: 1
Code Produit - Number of entries: 891 - Number of unique values: 9
Produit - Number of entries: 891 - Number of unique values: 9
Code année - Number of entries: 891 - Number of unique values: 1
Année - Number of entries: 891 - Number of unique values: 1
Unité - Number of entries: 891 - Number of unique values: 1
Valeur - Number of entries: 891 - Number of unique values: 485
Symbole - Number of entries: 891 - Number of unique values: 1
Description du Symbole - Number of entries: 891 - Number of unique values: 1

In [19]:
show_n_missing(df_cereal, "Produit");

#### Analyse pour les produits céréales
- Il n'y a pas de doublons.
- il n'y a pas de valeurs manquantes.
- Le symbole S correspond á des valeurs standadisées, Il n'y a pas les symboles A et Fc.

In [20]:
df_sous_alimentation.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN

In [21]:
# la colonne 'valeur' est de type object
# convertir la colonne 'Valeur' en float
df_sous_alimentation["Valeur"] = pd.to_numeric(df_sous_alimentation["Valeur"], errors='coerce')
df_col_attr(df_sous_alimentation)

##### DUPLICATES ######

Number of duplicated rows: 0

##### MIN / MAX - VALUES ######

Code Domaine - min: FS - max: FS
Domaine - min: Données de la sécurité alimentaire - max: Données de la sécurité alimentaire
Code zone - min: 1 - max: 351
Zone - min: Afghanistan - max: Îles Salomon
Code Élément - min: 6132 - max: 6132
Élément - min: Valeur - max: Valeur
Code Produit - min: 210011 - max: 210011
Produit - min: Nombre de personnes sous-alimentées (millions) (moyenne sur 3 ans) - max: Nombre de personnes sous-alimentées (millions) (moyenne sur 3 ans)
Code année - min: 20122014 - max: 20162018
Année - min: 2012-2014 - max: 2016-2018
Unité - min: millions - max: millions
Valeur - min: 0.1 - max: 216.3
Symbole - min: F - max: NV
Description du Symbole - min: Estimation FAO - max: Non rapportée
Note - min: nan - max: nan

##### YEAR SPAN OF COLUMN #####

Code Domaine - Min: 2012-2014  - Max: 2016-2018
Domaine - Min: 2012-2014  - Max: 2016-2018
Code zone - Min: 2012-2014  - Max: 2016-2018
Zone - Min: 2012-2014  - Max: 2016-2018
Code Élément - Min: 2012-2014  - Max: 2016-2018
Élément - Min: 2012-2014  - Max: 2016-2018
Code Produit - Min: 2012-2014  - Max: 2016-2018
Produit - Min: 2012-2014  - Max: 2016-2018
Code année - Min: 2012-2014  - Max: 2016-2018
Année - Min: 2012-2014  - Max: 2016-2018
Unité - Min: 2012-2014  - Max: 2016-2018
Valeur - Min: 2012-2014  - Max: 2016-2018
Symbole - Min: 2012-2014  - Max: 2016-2018
Description du Symbole - Min: 2012-2014  - Max: 2016-2018
Note - Min: nan  - Max: nan

##### UNIQUE - VALUES ######

Code Domaine - Number of entries: 1020 - Number of unique values: 1
Domaine - Number of entries: 1020 - Number of unique values: 1
Code zone - Number of entries: 1020 - Number of unique values: 204
Zone - Number of entries: 1020 - Number of unique values: 204
Code Élément - Number of entries: 1020 - Number of unique values: 1
Élément - Number of entries: 1020 - Number of unique values: 1
Code Produit - Number of entries: 1020 - Number of unique values: 1
Produit - Number of entries: 1020 - Number of unique values: 1
Code année - Number of entries: 1020 - Number of unique values: 5
Année - Number of entries: 1020 - Number of unique values: 5
Unité - Number of entries: 1020 - Number of unique values: 1
Valeur - Number of entries: 490 - Number of unique values: 145
Symbole - Number of entries: 1020 - Number of unique values: 3
Description du Symbole - Number of entries: 1020 - Number of unique values: 3
Note - Number of entries: 0 - Number of unique values: 0

In [22]:
show_n_missing(df_sous_alimentation, "Produit");

#### Analyse pour sous_alimentation
- Il n'y a pas de doublons.
- il y a des valeurs manquantes dans la colonne 'Valeur'.
- On trouve l'estimation FAO dans Description du Symbole.

<h1><center>Questions 1 à 14</center></h1>

#### Question 1 : donnez le résultat de votre calcul pour l'année 2013.

##### Remarque : 

- On a observé une valeur max pour la population de 14 milliards.
- On va regarder á quoi cela correspond

In [23]:
#On ordonne les valeurs par ordre decroissante

df_population.sort_values(by='Valeur', ascending=False).head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
75,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,100,Inde,511,Population totale,2501,Population,2013,2013,1000 personnes,1252140,NaN,Donnée officielle
55,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,231,États-Unis d'Amérique,511,Population totale,2501,Population,2013,2013,1000 personnes,320051,NaN,Donnée officielle
76,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,101,Indonésie,511,Population totale,2501,Population,2013,2013,1000 personnes,249866,NaN,Donnée officielle

- On peux observer que la Chine est comptabilisée deux fois avec le symbole A
- On va suprimer cette information.

In [24]:
population.sort_values(by='Valeur', ascending=False).head()

                     Zone  Année  Code zone   Valeur
33                  Chine   2013        351  1416667
36    Chine, continentale   2013         41  1385567
75                   Inde   2013        100  1252140
55  États-Unis d'Amérique   2013        231   320051
76              Indonésie   2013        101   249866

In [25]:
population = population[population['Code zone'] != 351]
population.shape

(174, 4)

In [26]:
population_total = population['Valeur'].sum() * 1000
print('La population totale est de {} milliards dans le monde en 2013'.format(population_total))

La population totale est de 6997326000 milliards dans le monde en 2013

#### Question 2

Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici :soleil: ). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France. Pour avoir un indice, cliquez sur "Définitions et Standards" sur la page de téléchargement des données.

###### Equation

- Disponibilité intérieure = Production + Importation + Variation de stock - Exportations = Aliments pour animaux + Semences + Pertes + Traitement + Autres Utilisations (non alimentaire) + Nourriture

In [27]:
#  Illustrez cette équation avec l'exemple du blé en France.
# Comme on l'avait observé, il y a un doublon avec la chine avec le symbole 'A' que correspond á des agrégats.
# On va supprimer cette information dans le fichier végétal et animal.

df_vegetal = df_vegetal[df_vegetal['Symbole'] != 'A'] # On supprime le valeur par la colonne 'symbole'
df_animal = df_animal[df_animal['Symbole'] != 'A']

# On va créer une colonne 'Origine' pour séparer le produit végétal et animal.
df_vegetal['Origine'] = 'Vegetal'
df_animal['Origine'] = 'Animal'

# On utilise la fontion concat de pandas.
animal_et_vegetal = pd.concat([df_vegetal, df_animal]) # On realice l'union grâce à pd.concat
animal_et_vegetal.head(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Origine
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées,Vegetal

In [28]:
# On va utiliser une table pivot pour prendre les colonnes dont on a besoin
animal_vegetal_pivot_table = animal_et_vegetal.pivot_table(index=['Code zone', 'Zone', 'Code Produit', 'Produit',
                                                                  'Origine', 'Code année', 'Année'],
                                                          columns = 'Élément', values = 'Valeur', aggfunc = sum)

# pour réinitialiser les index
animal_vegetal = animal_vegetal_pivot_table.reset_index()
animal_vegetal.head(1)

Élément,Code zone,Zone,Code Produit,Produit,Origine,Code année,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,Vegetal,2013,2013,93.0,0.0,1024.0,130.6,3.6,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0

In [29]:
# exemple avec le blé en France
ble_france = animal_vegetal.loc[(animal_vegetal['Produit'] == 'Blé') & (animal_vegetal['Zone'] == 'France')]
ble_france.head(1)

Élément,Code zone,Zone,Code Produit,Produit,Origine,Code année,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
4144,68,France,2511,Blé,Vegetal,2013,2013,7822.0,2824.0,811.0,108.43,4.2,25.99,20298.0,21502.0,2055.0,6971.0,358.0,38614.0,748.0,1575.0,1131.0

In [68]:
print(ble_france['Disponibilité intérieure'] * 1000000)
print('-'*20)

print(# Production + Importation + Variation de stock - Exportations
(ble_france['Production'] + ble_france['Importations - Quantité'] + ble_france['Variation de stock'] - ble_france['Exportations - Quantité']) * 1000000) 
print('-'*20) 

print(# Aliments pour animaux + Semences + Pertes + Traitement + Autres Utilisations (non alimentaire) + Nourriture
(ble_france['Aliments pour animaux'] + ble_france['Semences'] + ble_france['Pertes'] + ble_france['Traitement'] + ble_france['Autres utilisations (non alimentaire)'] + ble_france['Nourriture']) * 1000000)

4144    2.029800e+10
Name: Disponibilité intérieure, dtype: float64
--------------------
4144    2.029800e+10
dtype: float64
--------------------
4144    2.029800e+10
dtype: float64

###### la formule est :
- disponibilité Intérieure = (Nourriture + Nourriture Animaux + Semences + Pertes + Traitements + Autres Utilisations) = (Production + Importation + Variation DeStock) − Exportation

### Question 3 

- Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

Vous ferez cela à partir de ces informations :

- Population de chaque pays ;
- Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour.
- Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

In [31]:
population.rename(columns={'Valeur': 'Population'}, inplace=True) # on renomme la colonne 'valeur' par 'population'.
population = population[['Code zone', 'Population', 'Année']]

# On va faire une jointure entre le fichier population et le fichier animal_vegetal en code zone et année
# jointure interne
disponibilite_alimentaire_kcal_kg = pd.merge(animal_vegetal, population, on = ['Code zone', 'Année'], how = 'inner')
disponibilite_alimentaire_kcal_kg.head()

,Code zone,Zone,Code Produit,Produit,Origine,Code année,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Population
0,1,Arménie,2511,Blé,Vegetal,2013,2013,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,2977
1,1,Arménie,2513,Orge,Vegetal,2013,2013,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,2977
2,1,Arménie,2514,Maïs,Vegetal,2013,2013,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,2977
3,1,Arménie,2515,Seigle,Vegetal,2013,2013,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,2977
4,1,Arménie,2516,Avoine,Vegetal,2013,2013,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,2977

##### 3-1 Disponibilité alimentaire en kcal

In [32]:
# On va calculer la disponibilité alimentaire en calories (kcal)
disponibilite_alimentaire_kcal_kg['Dispo_alimentaire_kcal'] = ((disponibilite_alimentaire_kcal_kg['Disponibilité alimentaire (Kcal/personne/jour)'] *
                                                               disponibilite_alimentaire_kcal_kg['Population'] * 1000) * 365)

##### 3-2 Disponibilité alimentaire en kg de protéines

In [33]:
# On va calculer la disponibilité alimentaire en protéines (kg)
disponibilite_alimentaire_kcal_kg['Dispo_alimentaire_kg'] = ((disponibilite_alimentaire_kcal_kg['Disponibilité de protéines en quantité (g/personne/jour)'] / 1000) *
                                                               (disponibilite_alimentaire_kcal_kg['Population']  * 1000) * 365)

In [34]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

pays = sorted(list(disponibilite_alimentaire_kcal_kg['Zone'].unique()))
produits = sorted(list(disponibilite_alimentaire_kcal_kg['Produit'].unique()))

@interact
def pproduit_par_pay(pays=pays, produit=produits):
    return disponibilite_alimentaire_kcal_kg.loc[(disponibilite_alimentaire_kcal_kg['Zone'] == pays) & (disponibilite_alimentaire_kcal_kg['Produit'] == produit)]

interactive(children=(Dropdown(description='pays', options=('Afghanistan', 'Afrique du Sud', 'Albanie', 'Algér…

### Question 4 
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

- Indication : La disponibilité alimentaire en kcal/personne/jour est calculée par la FAO en multipliant la quantité Nourriture par le ratio énergie/poids (en kcal/kg), puis en le divisant par la population du pays puis par 365. Ici, on vous demande juste de retrouver le ratio énergie/poids que la FAO a utilisé dans son calcul.

In [35]:
# fonction pour calculer les ratios
def cal_ratio_kcal(x):
    import math
    if (x['Dispo_alimentaire_kcal'] != 0) and (x['Nourriture'] != 0):
        ratio = x['Dispo_alimentaire_kcal'] / (x['Nourriture'] * 1000000)
    else:
        ratio = math.nan
    return ratio

def cal_ratio_protein(x):
    import math
    if (x['Dispo_alimentaire_kg'] != 0) and (x['Nourriture'] != 0):
        ratio = x['Dispo_alimentaire_kg'] / (x['Nourriture'] * 1000000) * 100
    else:
        ratio = math.nan
    return ratio

In [36]:
disponibilite_alimentaire_kcal_kg['ratio_kcal'] = disponibilite_alimentaire_kcal_kg.apply(lambda x: cal_ratio_kcal(x), axis=1)
disponibilite_alimentaire_kcal_kg.head(1)

,Code zone,Zone,Code Produit,Produit,Origine,Code année,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Population,Dispo_alimentaire_kcal,Dispo_alimentaire_kg,ratio_kcal
0,1,Arménie,2511,Blé,Vegetal,2013,2013,93.0,0.0,1024.0,130.6,3.6,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,2977,1.112684e+12,33163184.6,2860.368946

In [37]:
# verification avec les oeufs (wikipedia 147 kcal)
oeuf = disponibilite_alimentaire_kcal_kg[(disponibilite_alimentaire_kcal_kg['Produit'] == 'Oeufs')]['ratio_kcal'].mean()
print("La valeur calorique d'un oeuf est ici de",round(oeuf, 2),"/kg. Wikipédia donne pour exemple une valeur calorique de 147kcal/100g.")

La valeur calorique d'un oeuf est ici de 1345.3 /kg. Wikipédia donne pour exemple une valeur calorique de 147kcal/100g.

In [38]:
# ratio protéins
disponibilite_alimentaire_kcal_kg['ratio_protein_%'] = disponibilite_alimentaire_kcal_kg.apply(lambda x: cal_ratio_protein(x), axis=1)
disponibilite_alimentaire_kcal_kg.head(1)

,Code zone,Zone,Code Produit,Produit,Origine,Code année,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Population,Dispo_alimentaire_kcal,Dispo_alimentaire_kg,ratio_kcal,ratio_protein_%
0,1,Arménie,2511,Blé,Vegetal,2013,2013,93.0,0.0,1024.0,130.6,3.6,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,2977,1.112684e+12,33163184.6,2860.368946,8.52524

In [39]:
# Vérification avec l'avoine (10,7g pour 100g sur Wikipédia)
avoine = disponibilite_alimentaire_kcal_kg[(disponibilite_alimentaire_kcal_kg['Produit'] == 'Avoine')]['ratio_protein_%'].mean()
print("La teneur en protéines de l'avoine est ici de",round(avoine, 2),"g. Wikipédia donne pour exemple une teneur en protéines de 10,7g/100g.")

La teneur en protéines de l'avoine est ici de 8.45 g. Wikipédia donne pour exemple une teneur en protéines de 10,7g/100g.

### Question 5 

Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

###### 5 - 1 les 5 produits les plus caloriques

In [40]:
# nettoyer la valeur = à 0
disponibilite_alimentaire_kcal_kg = disponibilite_alimentaire_kcal_kg.loc[disponibilite_alimentaire_kcal_kg['ratio_kcal'] != 0]

# moyenne pour le 5 produits les plus caloriques
top_5_produit_kcal = disponibilite_alimentaire_kcal_kg.loc[:,['Produit', 'ratio_kcal']].groupby('Produit').mean()
top_5_produit_kcal = top_5_produit_kcal.sort_values(by='ratio_kcal', ascending=False)
top_5_produit_kcal.head()

                           ratio_kcal
Produit
Huiles de Foie de Poisso  9982.932500
Huile de Sésame           9433.744729
Huile de Son de Riz       9361.549883
Huiles de Poissons        9003.715504
Huile d'Arachide          8935.765811

###### 5 - 2 Les 5 aliments les plus protéinés

In [41]:
# moyenne pour le 5 produits les plus protéines
# on enleve les valeurs = à 0

disponibilite_alimentaire_kcal_kg = disponibilite_alimentaire_kcal_kg.loc[disponibilite_alimentaire_kcal_kg['ratio_protein_%'] != 0]

top_5_produit_protein = disponibilite_alimentaire_kcal_kg.loc[:,['Produit', 'ratio_protein_%']].groupby('Produit').mean()
top_5_produit_protein = top_5_produit_protein.sort_values(by='ratio_protein_%', ascending=False)
top_5_produit_protein.head()

                        ratio_protein_%
Produit
Graines Colza/Moutarde        28.536511
Soja                          28.533053
Arachides Decortiquees        25.146613
Pois                          22.324375
Légumineuses Autres           21.971635

### Question 6

Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [42]:
# On va selectioner seulement les produits d'origine végétale
produit_vegetal_mask = disponibilite_alimentaire_kcal_kg[disponibilite_alimentaire_kcal_kg['Origine'] == 'Vegetal'] # on fait une mask pour avoir que le produit végétaux

#produit_vegetal_mask
# on fait une jointure entre produit_vegetal_mask et les top_5_produit_kcal avec produit
disponibilite_mondial_en_kcal = pd.merge(produit_vegetal_mask, top_5_produit_kcal, on = 'Produit', how = 'inner')
#disponibilite_mondial_en_kcal.head()

# renomme la colonne
disponibilite_mondial_en_kcal.rename(columns={'ratio_kcal_y': 'ratio_kcal'}, inplace=True)
# on supprime 'ratio_kcal_x'
del disponibilite_mondial_en_kcal['ratio_kcal_x'] 

disponibilite_mondial_en_kcal['Dispo_alimentaire_mondial_kcal'] = (disponibilite_mondial_en_kcal['Disponibilité intérieure'] * 1000000)\
* disponibilite_mondial_en_kcal['ratio_kcal']

dispo_vegetal_mondial_en_kcal = disponibilite_mondial_en_kcal.loc[:, 'Dispo_alimentaire_mondial_kcal'].sum()
print("Il y a {} kcal d'origine végétale disponible dans le monde en 2013".format((dispo_vegetal_mondial_en_kcal)))

Il y a 1.3764013420014768e+16 kcal d'origine végétale disponible dans le monde en 2013

### Question 7

Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

##### 7 - 1 en kcal

In [43]:
# on calcule la calorie moyenne entre homme et femme
calorie_moyen = (1800 + 2700) / 2

# personnes qu'on pourrait nourrir (kcal) avec les produits végétaux
personnes_nourrir = dispo_vegetal_mondial_en_kcal / (calorie_moyen * 365)

# en pourcentage
porcentage_personnes_nourrir = (personnes_nourrir / population_total) * 100

print("Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour la nourriture, elle pourrait subvenir aux besoins caloriques de",
     round(personnes_nourrir/1e9,2), 'milliards de personnes soit',round(porcentage_personnes_nourrir,2),"% de la population mondiale.")

Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour la nourriture, elle pourrait subvenir aux besoins caloriques de 16.76 milliards de personnes soit 239.52 % de la population mondiale.

###### 7 - 2 protéine

In [44]:
# On calcule la protéine moyenne entre homme et femme par jour
protein_moyen = (50 + 60) / 2

produit_vegetal_en_kg = produit_vegetal_mask.copy() # on fait une copie du mask 

# On fait la variable disponibilite en kg 
produit_vegetal_en_kg['Disponibilite_en_kg'] = produit_vegetal_en_kg['Disponibilité intérieure'] * 1000000 * (produit_vegetal_en_kg['ratio_protein_%'] / 100)

# protéine totale
protein = produit_vegetal_en_kg['Disponibilite_en_kg'].sum()

# personne qu'on pourrait nourrir avec les protéines
personnes_nourrir_protein = protein / (protein_moyen * .001 * 365)

# en pourcentage
porcentage_personne_nourrir_protein = (personnes_nourrir_protein / population_total) * 100

print("Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture, elle pourrait subvenir aux besoins en protéines de",
     round(personnes_nourrir_protein/1e9,2), 'milliards de personnes soit',round(porcentage_personne_nourrir_protein,2),"% de la population mondiale.")

Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture, elle pourrait subvenir aux besoins en protéines de 14.45 milliards de personnes soit 206.57 % de la population mondiale.

### Question 8

Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [45]:
# calcul de la disponibilité alimentaire des produits végétaux
# disponibilité aliments pour animaux, pertes et nourriture
dispo_alimentaire_produit_vegetaux = disponibilite_alimentaire_kcal_kg.loc[disponibilite_alimentaire_kcal_kg['Origine'] == 'Vegetal'\
, ['Code zone', 'Zone', 'Code Produit', 'Dispo_alimentaire_kcal', 'Dispo_alimentaire_kg', 'Aliments pour animaux',
  'Pertes', 'ratio_kcal', 'ratio_protein_%', 'Nourriture']]

# on va creer 'total_vegetal_kcal' et la column 'total_vegetal_kg'
# total_vegetal_kcal
dispo_alimentaire_produit_vegetaux['Total_vegetal_kcal'] = dispo_alimentaire_produit_vegetaux['Aliments pour animaux']\
* 1000000 + dispo_alimentaire_produit_vegetaux['Pertes'] * 1000000 \
+ dispo_alimentaire_produit_vegetaux['Nourriture'] * 1000000

# total_vegetal_kg
dispo_alimentaire_produit_vegetaux['Total_vegetal_kg'] = dispo_alimentaire_produit_vegetaux['Aliments pour animaux']\
* 1000000 + dispo_alimentaire_produit_vegetaux['Pertes'] * 1000000\
+ dispo_alimentaire_produit_vegetaux['Nourriture'] * 1000000

# calcul total produits en kcal pour chaque pays et produits\
dispo_alimentaire_produit_vegetaux['Total_produit_vegetal_en_kcal'] = dispo_alimentaire_produit_vegetaux['Total_vegetal_kcal']\
* dispo_alimentaire_produit_vegetaux['ratio_kcal'] + dispo_alimentaire_produit_vegetaux['Dispo_alimentaire_kcal']

# calcul total produits en kg pour chaque pays et produits
dispo_alimentaire_produit_vegetaux['Total_produit_vegetal_en_kg'] = dispo_alimentaire_produit_vegetaux['Total_vegetal_kg']\
* dispo_alimentaire_produit_vegetaux['ratio_protein_%'] / 100 + dispo_alimentaire_produit_vegetaux['Dispo_alimentaire_kg']

# sum kcal
total_produit_vegetal_kcal = dispo_alimentaire_produit_vegetaux.Total_produit_vegetal_en_kcal.sum()

# sum protéin
total_produit_vegetal_kg = dispo_alimentaire_produit_vegetaux.Total_produit_vegetal_en_kg.sum()

##### 8 - 1 kcal

In [46]:
# population mondiale pouvant être nourrie avec les produits végétaux en kcal
population_nourrir_kcal = total_produit_vegetal_kcal / (calorie_moyen * 365)

# en pourcentage
pourcentage_nourrir_population_kcal = ((population_nourrir_kcal) / (population_total)) * 100

print("Si on ajoute à la disponibilité alimentaire de produits végétaux la nourriture végétale destinée aux animaux et les pertes, on pourrait satisfaire les besoins caloriques de",
      round(population_nourrir_kcal/1e9,2),"milliards de personnes soit",round(pourcentage_nourrir_population_kcal,2),"% de la population mondiale.")

Si on ajoute à la disponibilité alimentaire de produits végétaux la nourriture végétale destinée aux animaux et les pertes, on pourrait satisfaire les besoins caloriques de 11.7 milliards de personnes soit 167.14 % de la population mondiale.

- remarque: avec disponibilité interieure ont à 235.85%

##### 8 - 2 kg

In [47]:
# population mondiale pouvant être nourrie avec les produits végétaux en protéine (kg)
population_nourrir_kg = total_produit_vegetal_kg / (protein_moyen * .001 * 365)

# en pourcentage
pourcentage_nourrir_population_kg = (population_nourrir_kg / population_total) * 100

print("Si on ajoute à la disponibilité alimentaire de produits végétaux la nourriture végétale destinée aux animaux et les pertes, on pourrait satisfaire les besoins en protéines de",
      round(population_nourrir_kg/1e9,2),"milliards de personnes soit",round(pourcentage_nourrir_population_kg,2),"% de la population mondiale.")

Si on ajoute à la disponibilité alimentaire de produits végétaux la nourriture végétale destinée aux animaux et les pertes, on pourrait satisfaire les besoins en protéines de 12.62 milliards de personnes soit 180.35 % de la population mondiale.

### Question 9

Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? 

Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

##### 9 - 1 kcal

In [48]:
# disponibilité alimentaire en kcal
disponibilite_mondial_alimentaire_kcal = disponibilite_alimentaire_kcal_kg['Dispo_alimentaire_kcal'].sum()

# population totale qui pourrait être nourrie
population_total_nourrir_kcal = disponibilite_mondial_alimentaire_kcal / (calorie_moyen * 365)

# en pourcentage
pourcentage_kcal_nouriture = (population_total_nourrir_kcal / population_total) * 100

print("La disponibilité alimentaire mondiale pourrait combler les besoins caloriques de",
      round(population_total_nourrir_kcal/1e9,2),"milliards de personnes soit",round(pourcentage_kcal_nouriture,2),"% de la population mondiale.")

La disponibilité alimentaire mondiale pourrait combler les besoins caloriques de 8.97 milliards de personnes soit 128.14 % de la population mondiale.

##### 9 - 2 en protéin (kg)

In [49]:
# population totale pour nourrir en protéine
# disponibilité alimentaire en protéine
population_nourrir_protein = disponibilite_alimentaire_kcal_kg['Dispo_alimentaire_kg'].sum()

# population totale qui pourrait être nourrie en protéine (kg)
population_protein = population_nourrir_protein / (protein_moyen * .001 * 365)

# en pourcentage
protein_pourcentage = (population_protein / population_total) * 100

print("La disponibilité alimentaire mondiale pourrait combler les besoins en protéines de",
      round(population_protein/1e9,2),"milliards de personnes soit",round(protein_pourcentage,2),"% de la population mondiale.")

La disponibilité alimentaire mondiale pourrait combler les besoins en protéines de 10.32 milliards de personnes soit 147.55 % de la population mondiale.

### Question 10

A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [50]:
df_sous_alimentation.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN

In [51]:
# on avait observé des valeurs manquantes 

df_sous_alimentation['Valeur'].unique()

# on enlève la valeur '<0.1'
sous_alimentation_2013 = df_sous_alimentation[~df_sous_alimentation['Valeur'].isin(['<0.1'])]

# pour le calcul, on utilise l'année 2012-2014
sous_alimentation_2013 = df_sous_alimentation[df_sous_alimentation['Année'].str.contains('2012-2014')]

# on utilise les données de la FAO
sous_alimentation_2013 = sous_alimentation_2013[sous_alimentation_2013['Description du Symbole'] == 'Estimation FAO']

# On renomme 'Valeur' en 'Sous_alimentés'
sous_alimentation_2013.rename(columns={'Valeur': 'Sous_alimentes'}, inplace = True)
#sous_alimentation_2013
# On enlève les doublons de la Chine
sous_alimentation_2013 = sous_alimentation_2013.loc[sous_alimentation_2013['Zone'] != 'Chine']

# sum
sous_nutrition_2013 = sous_alimentation_2013['Sous_alimentes'].sum()

# en pourcentage
# pourcentage de personne en sous-nutrition
pourcentage_sous_noutrition_2013 = (sous_nutrition_2013 * 1000000) / (population_total) * 100

print("Sur l'année 2013,",round(pourcentage_sous_noutrition_2013, 2),"% de la population mondiale était en sous-alimentation soit",
      round(sous_nutrition_2013, 2),"millions de personnes.")

Sur l'année 2013, 10.63 % de la population mondiale était en sous-alimentation soit 743.7 millions de personnes.

### Question 11

En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO.

Repérez dans vos données les informations concernant les céréales (par exemple en créant une colonne de type booléen nommée "is_cereal").

In [52]:
df_cereal.head(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées

In [53]:
df_cereal['Code Produit'].unique()

bool_cereal = disponibilite_alimentaire_kcal_kg.copy()

# on va selectioner les codes dans la colonne 'Code Produit' pour faire une liste avec cette information
code_cereal = ['2511', '2805', '2513', '2514', '2517', '2515', '2516', '2518', '2520']

# on fait une fonction 'is_cereal'
def is_cereal(arr):
    if str(arr['Code Produit']) in code_cereal:
        return True
    return False

# on ajoute la colonne 'is_cereal'
bool_cereal['is_cereal'] = bool_cereal.apply(lambda arr: is_cereal(arr), axis=1)
#bool_cereal.head()

In [54]:
cereal_animal = bool_cereal.loc[bool_cereal['is_cereal'] == True] # pour obtenir les céréales destinées à l'alimentation animale

# proportion pour l'alimentation animale
# sum des valeurs 'aliments pour animaux' et 'nourriture'
cereal_pour_alimentation_animal = cereal_animal['Aliments pour animaux'].sum() + cereal_animal['Nourriture'].sum()

# pourcentage pour l'alimentation animale
pourcentage_alimentation_animal_en_cereal = cereal_animal['Aliments pour animaux'].sum()

cereal_a_destination_animal = pourcentage_alimentation_animal_en_cereal / cereal_pour_alimentation_animal
print('{} % des céréales sont destinés à l\'alimentation animale'.format(round(cereal_a_destination_animal * 100, 2)))

45.91 % des céréales sont destinés à l'alimentation animale

### Question 12

Donnez les 3 produits qui on t la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

- 12-1 Repérez les 15 produits les plus exportés par ce groupe de pays.

In [55]:
# on realise une jointure interne avec le fichier sous-alimentation_2013
sous_nutrition = pd.merge(disponibilite_alimentaire_kcal_kg, sous_alimentation_2013, on='Code zone', how='inner')
sous_nutrition.head(1)

# on renomme les colonnes
sous_nutrition = sous_nutrition.rename(columns={'Zone_x': 'Zone', 'Produit_x': 'Produit',
                                                'Autres utilisations (non alimentaire)': 'Autres utilisations'})

# colonnes dont on a besoin
list_colonnes = ['Zone', 'Produit', 'Sous_alimentes', 'Exportations - Quantité', 'Autres utilisations', 'Population',
            'Importations - Quantité', 'Nourriture', 'Aliments pour animaux', 'Production', 'Disponibilité intérieure']

sous_nutrition = sous_nutrition[list_colonnes]

# on selectionne les pays en sous alimentation
exportation_importation_par_pay = sous_nutrition.dropna(subset=['Sous_alimentes'])
exportation_importation_par_pay.head()

# les produits les plus exportés par les pays en sous alimentation
produits_exporte = exportation_importation_par_pay[['Produit', 'Exportations - Quantité']]\
.groupby(by=['Produit']).sum().reset_index()\
.sort_values(by=['Exportations - Quantité'], ascending=False)
les_15_produits_plus_exporte = produits_exporte.Produit[:15]
print('Les 15 produits le plus exportés par des pays en sous alimentation :\n{}'.format(les_15_produits_plus_exporte))

Les 15 produits le plus exporté par des pays en sous alimentation :
39         Huile de Palme
52                   Maïs
51                 Manioc
79       Riz (Eq Blanchi)
83          Sucre Eq Brut
12                    Blé
49        Légumes, Autres
8                 Bananes
25         Fruits, Autres
48     Lait - Excl Beurre
81                   Soja
73    Poissons Pelagiques
89                Tomates
75                 Pommes
61    Oranges, Mandarines
Name: Produit, dtype: object

- 12 - 2 Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné)

In [56]:
# les 200 plus grandes importations
produit_importe = sous_nutrition.loc[sous_nutrition['Produit'].isin(les_15_produits_plus_exporte),]\
.sort_values(by=['Importations - Quantité'], ascending = False)[:200]
produit_importe.head()

,Zone,Produit,Sous_alimentes,Exportations - Quantité,Autres utilisations,Population,Importations - Quantité,Nourriture,Aliments pour animaux,Production,Disponibilité intérieure
1865,"Chine, continentale",Soja,136.6,250.0,NaN,1385567,63381.0,5072.0,9530.0,11951.0,75081.0
1852,"Chine, continentale",Manioc,136.6,41.0,7940.0,1385567,29046.0,2645.0,22868.0,4585.0,33590.0
2663,Égypte,Blé,3.9,191.0,0.0,82056,10331.0,12048.0,4860.0,9460.0,19341.0
4132,Inde,Huile de Palme,216.3,143.0,6782.0,1252140,8568.0,1631.0,NaN,NaN,8413.0
1937,"Chine, continentale",Lait - Excl Beurre,136.6,129.0,NaN,1385567,8207.0,45252.0,1608.0,40193.0,48271.0

- 12 - 3 Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

- le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
- le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [57]:
ratios = produit_importe[['Zone', 'Produit', 'Autres utilisations', 'Aliments pour animaux', 'Disponibilité intérieure', 'Nourriture']]

# on le regroupe par produits
ratio_sous_alimentation = ratios.groupby('Produit').sum().reset_index()
ratio_sous_alimentation.head()

# calculs pour chacun des ratios
# ratio destiné aux autres utilisations et dispo intérieure
ratio_sous_alimentation['ratio_disponibilite_interieure'] = (ratio_sous_alimentation['Autres utilisations']\
                                                            / ratio_sous_alimentation['Disponibilité intérieure'])

# ratio nourriture animale et nourriture mondiale
ratio_sous_alimentation['ratio_nourriture_animal'] = (ratio_sous_alimentation['Aliments pour animaux']\
                                                     / (ratio_sous_alimentation['Aliments pour animaux']\
                                                        + ratio_sous_alimentation['Nourriture']))

ratio_sous_alimentation = ratio_sous_alimentation[['Produit', 'ratio_disponibilite_interieure', 'ratio_nourriture_animal']]
ratio_sous_alimentation.head()

              Produit  ratio_disponibilite_interieure  ratio_nourriture_animal
0             Bananes                        0.001473                 0.000000
1                 Blé                        0.033573                 0.170348
2      Fruits, Autres                        0.000639                 0.000000
3      Huile de Palme                        0.676219                 0.000000
4  Lait - Excl Beurre                        0.012760                 0.036040

- 12 - 3 Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

In [58]:
# 3 produits avec une grande valeur pour le ratio 1
top3_ratio_par_produit = ratio_sous_alimentation[['Produit', 'ratio_disponibilite_interieure']]\
.sort_values('ratio_disponibilite_interieure', ascending=False)[:3]
print('Les produits importés par les pays victimes de sous_alimentation qui ont le ratio autres utilisation/disponibilité interieure le plus élevé sont :\n{}'\
      .format(top3_ratio_par_produit['Produit']))

Les produits importés par les pays victimes de sous_alimentation qui ont le ratio autres utilisation/disponibilité interieure le plus élevé sont :
3    Huile de Palme
6            Manioc
7              Maïs
Name: Produit, dtype: object

In [59]:
# top 3 des ratios avec la plus grande valeur par produit pour la nourriture animale
top3_ratio_pour_nourriture_animal = ratio_sous_alimentation[['Produit', 'ratio_nourriture_animal']]\
.sort_values('ratio_nourriture_animal', ascending=False)[:3]
print('Les produits importés par les pays victimes de sous-alimentation qui ont le ratio nourriture animale/nourriture globale le plus élevé sont :\n{}'\
      .format(top3_ratio_pour_nourriture_animal['Produit']))

Les produits importés par les pays victimes de sous-alimentation qui ont le ratio nourriture animale/nourriture globale le plus élevé sont :
7                    Maïs
9     Poissons Pelagiques
12                   Soja
Name: Produit, dtype: object

### Question 13

Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

In [60]:
# on choisit seulement les données des USA
cereal_usa = bool_cereal.loc[bool_cereal['Zone'] == 'États-Unis d\'Amérique']

# somme de la production animale aux États-Unis
production_animal_usa = cereal_usa['Aliments pour animaux'].sum()

print('Moins 10 % de la production des produits animaux, Les États-Unis pourraient libérer {}'\
     .format(round((production_animal_usa * .1) / 1000, 2)), 'ktonnes des céréales.')

Moins 10 % de la production des produits animaux, Les États-Unis pourraient libérer 14.84 ktonnes des céréales.

### Question 14

En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

In [61]:
# on va choisir le produit manioc et le pays Thaïlande
manioc = sous_nutrition.loc[(sous_nutrition['Zone'] == 'Thaïlande') & (sous_nutrition['Produit'] == 'Manioc')]

# proportion du produit manioc exporté
proportion_manioc_exporte = manioc['Exportations - Quantité'] / manioc['Production']
proportion_manioc_exporte = round(proportion_manioc_exporte * 100, 2)
print('La proportion exportée en pourcentage du produit Manioc est : {}'.format(proportion_manioc_exporte.to_list()), '%')

print('-'*40)

# proportion de la population en Thaïlande qui est en sous alimentation.
proportion_thailande_sous_alimentation = (manioc['Sous_alimentes'] / manioc['Population']) * 1000
proportion_thailande_sous_alimentation = round(proportion_thailande_sous_alimentation * 100, 2)

print('Proportion en pourcentage de la population qui est sous alimentée en Thaïlande est de {}'\
       .format(proportion_thailande_sous_alimentation.to_list()), '%')

La proportion exporté en pourcentage du produit Manioc est : [83.41] %
----------------------------------------
Proportion en pourcentage de la population qui est sous alimenté en Thailande est de [8.36] %